body {
	width: 90%;
	margin-right: auto;
	margin-left: auto;	
	font-family: 'Varela Round', sans-serif;
	background-color: #bfbfbf;
}

img {
	float: right;
}

header {
	background-color: #000099;
	color: white;
	border-radius: 5px;
	text-align: center;
	text-align: center;
	margin-bottom: 35px;
}

h3 {
	background-color: red;
	color: white;
	border-radius: 5px;
	padding-left: 10px;
}

footer {
	background-color: #000099;
	color: white;
	border-radius: 5px;
	text-align: center;
	clear: both;
	padding-top: .25em;
	padding-bottom: .25em;
	margin-top: 30px;
	margin-bottom: .5em;
	font-weight: bold;
}

main {
	width: 65%;
	margin-right: auto;
	margin-left: auto;
}

input[type=radio] {
	margin-right: 10px;
	margin-bottom: 15px;
}

label[for="name"],label[for="phone"],label[for="email"] {
	display: inline-block;
	width: 5em;
	text-align: left;
}

input[type=text] {
	margin-bottom: 15px;
}

textarea {
	margin-top: 15px;
	margin-bottom: 10px;
}

input[type=checkbox] {
	margin-right: 10px;
	margin-bottom: 15px;
}

input[type=button] {
	margin-top: 20px;
	margin-right: 10px;
}

span {
	color: red;
}